# Advent of Code asks that puzzle inputs and puzzle text not be redistributed.
input.txt
inputs/
*.input
puzzle.md
puzzle.txt
input
input_*
in.txt
*.dat
test*.txt
testcase*
short_input*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Editors / OS
.vscode/
.idea/
.DS_Store
